.App {
	text-align: center;
	border: red solid;
	background-color: #282c34;
	display: grid;
	color: white;
	font-size: calc(10px + 2vmin);
	justify-content: center;
	align-items: top;
}

.App-link {
	color: #61dafb;
}

.title {
	border: blue solid;
	margin: 2px;
}
.h2 {
	color: red;
}

.navbar {
	border: limegreen solid;
}

.articlesList {
	border: orange solid;
	height: 100%;
	max-height: 90vh;
	overflow: hidden;
	overflow-y: scroll;
}

.article-card {
	border: teal solid;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #40454e;
	border-radius: 2rem;
}

.readArticle-btn {
	margin-bottom: 3%;
}

.article-page {
	align-items: top;
	margin-top: auto;
}

.VoteUpdater {
	margin-bottom: 10px;
}

.comment-card {
	background-color: rgb(122, 122, 122);
	border: slateblue solid;
	width: 60vw;
	min-width: 230px;
	display: grid;
	grid-template-columns: auto;
	border-radius: 1.5rem;
}

.comments-list {
	border: aquamarine solid;
	overflow-y: scroll;
	font-size: small;
	height: 80vh;
	padding-left: 16.5%;
	padding-right: 27%;
	margin-bottom: 10px;
}

.submit-comment {
	height: 7vh;
	width: 90vw;
	overflow-wrap: normal;
	overflow-x: auto;
	margin-top: 15px;
	margin-bottom: 10px;
}
.loading {
	height: 100vh;
}

.loading-screen {
	height: 100vh;
	width: 100vw;
	background-color: #282c34;
}

#return-to-article-link {
	text-decoration: none;
}

.return-to-article {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
