.App {
	text-align: center;
	border: red solid;
	background-color: #282c34;
	min-height: 100vh;
	display: grid;
	grid-template: 1fr 50px 8fr / 1fr;
	grid-template-areas:
		"header"
		"navbar"
		"content";
}

.App-header {
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.title {
	border: blue solid;
}

.navbar {
	border: limegreen solid;
}

.articlesList {
	border: orange solid;
}

.article-card {
	border: teal solid;
}

.comment-card {
	border: slateblue solid;
}
